<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Backbone Boilerplate</title>

  <!-- Application styles. -->
  <!-- build:[href] /styles.min.css -->
  <link rel="stylesheet" href="/app/styles/index.css">
  <!-- /build -->
</head>

<body>
  <!-- Application container. -->
  <main role="main" id="main">
  
      <h1>Just Write it Down</h1>
      <section id="intro">
        Go ahead and write some notes
      </section>
      
      <section id="entry">
          <textarea></textarea>
          <button class="submit">Save</button>
      </section>
      
      <h2>Your Notes</h2>
      
      <section id="notes">
          <script id="saved-notes" type="text/x-underscore-template">
            <ul>
             <% _.each(notes, function(note) { %> 
               <li data-cid="<%- note.cid %>"><%- note.get('noteText') %> <a class="remove" href="javascript:void(0)">Remove</a></li> 
             <% }); %>
            </ul>
          </script>
      </section>
  </main>

  <!-- Application source. -->
  <!-- build:[src] /source.min.js -->
  <script data-main="/app/main" src="/vendor/bower/requirejs/require.js"></script>
  <!-- /build -->
</body>
</html>
